# vim: ft=nginx

upstream ${NFCGATESERVER_SERVICE_HOST} {
    server ${NFCGATESERVER_SERVICE_HOST}:${NFCGATESERVER_PORT};
}

server {
        listen ${NFCGATESERVER_PORT};
        server_name ${NFCGATESERVER_DOMAIN};
        proxy_connect_timeout 60s;
        proxy_socket_keepalive on;

        ssl_certificate /etc/nginx/certs/server.pem;
        ssl_certificate_key /etc/nginx/certs/server.key;
        ssl_client_certificate /etc/nginx/certs/cacert.pem;
        ssl_verify_client on;

        proxy_pass  ${NFCGATESERVER_SERVICE_HOST};
}